body{
	width: 90%;
	height:100%;
	margin:auto;
	margin-top: 3%;
}
#canvas {
	background-color: grey;
	width: 100%;
}
.row {
	display: flex;
}
.col-3 {
	width: 20%;
	text-align: right;
	padding: 15px;
}
.col-9 {
	width: 80%;
}
#lostgame {
	display: none;
}
#lostgame h3,h4{
	font-weight: bold;
	color: red;
	margin: 0;
}
#main {
	display: none;
	height: 15%;
	overflow: auto;
	margin:auto;
	position: absolute;
	/* top: 0;  */
	left: -50px;;
	bottom: 0; right: 0;
}

h1, h2, ul, p {
	margin: 0;
}
button {
	font-size: 15px;
	cursor: pointer;
	margin: 0 auto;
	height: 30px;
}
button:hover {
	background-color: lightgrey;
}
#main li{
	list-style-type: none;
}
#main ul{
	text-align: center;
	border: 1px solid black;
	padding: 0 10px 10px 10px;
}
